html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

body h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

main {
  height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  height: 12%;
  margin: 0;
  background-color: lightgray;
}

header a {
  color: white;
  text-decoration: none;
  padding: 0.5%;
}

.header__logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: lightgray;
  width: 20%;
}

.header__logo i {
  color: #b99095;
  font-size: 2.5rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  background-color: #3d5b59;
  padding: 1.5%;
  width: 80%;
  height: 80%;
}

.banner {
  background-image: url(./img/banner.jpg);
  /* width: 100%;
  /* padding: 10%; */
  height: 40%;
  background-size: contain;
  color: lightgray;
}

.banner span {
  color: #fcb5ac;
  text-decoration: underline;
}

.tagline {
  background-color: #b5e5cf;
  height: 15%;
}

.process {
  background-color: #36454f;
  height: 30%;
}

.process h3 {
  color: #b99095;
}

.skills {
  height: 30%;
  background-color: lightgray;
}
